h1, h2 {
  text-align: center;
}
body {
    background-color: #625acd;
}
h1, h2, p {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: large;
}

.p1 {
  margin-left:auto;
  margin-right:auto;
  padding:5px;
  text-align: center; 
  background-color: #756dd6;
  border: black solid thin;
}

canvas {
  margin-right: 25%;
  margin-left: 25%;
  border: white solid thin;
  background-color: #002131;
  display: flex;
  width: 50%;
}

.img2 {
  background-image: url(snow.gif);
  text-align: center;
}

.cakeimg {
  width:25%;
  vertical-align:top;
}

div.scroll-container {
  background-color: #003603;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}

div.scroll-container img {
  width:350px;
  height:350px;
  vertical-align: top;
  border: black solid thick;
  margin: auto 3px;
}

